body {
    position: fixed;
    text-align: center;
}

#chat-display {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 60%;
    width: 90%;
    overflow: auto;
    position: fixed;
    box-sizing: content-box;
    border: thick double var(--pink-lavender);
    border-radius: 3em;
    background: var(--uranian-blue);
    padding: 1em;
    left: 50%;
    transform: translateX(-50%);
}

#message-form {
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.avatar-img {
    max-width: 3rem;
    max-height: 3rem;
    border-radius: 1rem;
}

.message-bubble {
    border: thick solid var(--pink-lavender);
    background: var(--nadeshiko-pink);
    border-radius: 4rem;
    text-align: center;
    width: 60%;
    margin-bottom: 0.25em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    line-height: 1em;
    display: flex;
    flex-flow: row nowrap;
}

.message-left-section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 20%;
    background: radial-gradient(closest-side, #a2d2ffff, #ffafccff);
    border-radius: 3em;
}

.message-content-section {
    width: 75%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.message-timestamp {
    font-size: 0.7em;
    align-self: flex-end;
}
